<div class="comment">
   <p><%= "@#{comment.user.username}"%> : <%= comment.body %></p>
    <%= button_to "Like", comment_react_path(comment, reaction: "like"), method: :post%>
    <%= comment.likes%>
    <%= button_to "Dislike", comment_react_path(comment, reaction: "dislike")%>
   <%= comment.dislikes%>

   <%= turbo_frame_tag "comment_reply_#{comment.id}" do %>
      <%= link_to "Reply", new_post_comment_path(post_id: comment.post.id, parent_id: comment.id),
       method: :get, 
       form: { data: { turbo_frame: "comment_reply_#{comment.id}" } } %>
   <% end %>

   <% comment.replies.each do |c|%>
   <div class="comment nested", style="margin-left: 20px;">
        <%= render partial: "comments/comment", object: c %>
   </div>
   <% end %>
</div>