<%- if controller_name != 'sessions' %>
  <div class="mb-2">
    <%= link_to "Log in",
      new_session_path(resource_name),
      class: "bg-gradient-to-r from-teal-400
         via-teal-500 to-teal-600 text-white font-semibold px-4 py-2 rounded-full 
         shadow-md hover:scale-105 hover:shadow-lg transition duration-300 ease-in-out hover:bg-gradient-to-br" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "Sign up",
      new_registration_path(resource_name),
      class: "bg-gradient-to-r from-green-400
         via-green-500 to-green-600 text-white font-semibold px-4 py-2 rounded-full 
         shadow-md hover:scale-105 hover:shadow-lg transition duration-300 ease-in-out hover:bg-gradient-to-br" %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="mb-2">
    <%= link_to "Forgot your password?",
      new_password_path(resource_name),
      class: "hover:underline w-full text-white font-medium transition hover:scale-105" %>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="mb-2 text-center">
    <%= link_to "Didn't receive confirmation instructions?",
      new_confirmation_path(resource_name),
      class: "link link-hover text-sm text-blue-300" %>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="mb-2 text-center">
    <%= link_to "Didn't receive unlock instructions?",
      new_unlock_path(resource_name),
      class: "link link-hover text-sm text-blue-300" %>
  </div>
<% end %>

<% if devise_mapping.omniauthable? %>
  <div class=" text-center">
    <p class="text-sm text-gray-400 mb-2">Or sign in with:</p>
    <div class="flex justify-center items-center gap-6">
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= form_tag omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false } do %>
          <% if provider == :google_oauth2 %>
            <%= tag.input type: "image",
              src: asset_path("web_dark_rd_na.svg"),
              alt: "Sign in with Google",
              class: "h-10 w-auto hover:scale-110 transition duration-200" %>
          <% elsif provider == :github %>
            <%= tag.input type: "image",
              src: asset_path("github-mark.svg"),
              alt: "Sign in with GitHub",
              class: "h-10 w-auto hover:scale-110 transition duration-200" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
