<body>
    <% unless user_signed_in?%>
        <%= button_to "Sign up", new_user_registration_path, method: :get %>
        <%= button_to "Log in", new_user_session_path, method: :get %>
    <% else %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        <%= turbo_frame_tag "new_post" do%>
            <%= link_to "Create Post", new_post_path(context: "index")%>
        <% end %>
        <%= button_to "Edit User", edit_user_registration_path, method: :get %>

    <% end %>
    <h1>Posts</h1>
    <div id="posts">
        <%= turbo_frame_tag "posts_show" do %>
            <% @posts.each do |post| %>
                <%= render partial: "posts/post", locals: { post: post, context: "index"}%>
            <% end %>
        <% end %>
    </div>
    <h1>Users</h1>
    <% @users.each do |u| %>
        <div>
            <%= link_to "@#{u.username}", user_path(u) %>
        </div>
    <% end %>
</body>