<main class="flex flex-col md:flex-row justify-center items-start container mx-auto gap-6 px-4 py-6 flex-grow">

    <div class="flex-1 max-w-3xl rounded-xl bg-gray-900 p-6 shadow-lg">
      <h1 class="text-4xl font-bold mb-6 text-center text-white drop-shadow-md rounded-lg">Posts</h1>

      <div class="flex justify-center mb-8">
        <%= turbo_frame_tag "new_post" do %>
          <%= link_to "Create Post", new_post_path(context: "index"),
              class: "text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br
               focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg
               text-sm px-5 py-2 text-center me-2 mb-2 transition transform hover:scale-[1.02] duration-300 ease-in-out", data: {turbo: true} %>
        <% end %>
      </div>

      <%= turbo_frame_tag "posts_show" do %>
        <div class="space-y-6">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="bg-white rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700
                transition transform hover:scale-[1.02] hover:shadow-xl duration-300 ease-in-out p-4">
                <%= render partial: "posts/post", locals: { post: post, context: "index" } %>
              </div>
            <% end %>
          <% else %>
            <p class="text-center text-gray-400 italic">There aren't any posts yet. Be the first to make one!</p>
          <% end %>
        </div>
      <% end %>
    </div>

    <aside class="bg-gray-900 text-white sticky top-20 z-50 w-72 max-h-screen overflow-y-auto rounded-xl bg-neutral text-neutral-content p-6 shadow-lg">

      <h2 class="text-2xl font-semibold mb-4 border-neutral-content pb-2 rounded-lg">Users</h2>

      <div class="divide-y divide-neutral-content">
        <% @users.each do |u| %>
          <div class="flex items-center space-x-3 py-2 px-3 rounded-lg hover:bg-neutral-focus
           transition duration-300 cursor-pointer hover:scale-105">
            <%= link_to user_path(u), class: "flex items-center space-x-3" do %>
              <img src="<%= u.avatar_url_or_default %>" alt="Avatar" class="w-10 h-10 rounded-full object-cover" />
              <span class="text-base hover:underline text-neutral-content">@<%= u.username %></span>
            <% end %>
          </div>
        <% end %>
      </div>

    </aside>

  </main>