<%= @user.username %>
<%= @user.email %>

<% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar, style: "height: 50px;")%>
<% end %>

<% unless @user == current_user%>
    <% unless current_user.followed_users.include?(@user) %>
        <%= button_to "Follow #{@user.username}", followings_path(followed_id: @user.id), method: :post %>
    <% else %>
        <% following = current_user.active_rel.find_by(followed_id: @user.id) %>
        <%= button_to "Unfollow #{@user.username}", following_path(following), method: :delete %>
    <% end %>
<% else %>
<%= turbo_frame_tag "new_post" do%>
    <%= link_to "Create Post", new_post_path(context: "user")%>
<% end %>
<% end %>

<h1>Posts</h1>
    <div id="posts">
        <%= turbo_frame_tag "posts_show" do %>
            <% @user.posts.each do |post| %>
                <%= render partial: "posts/post", locals: { post: post, context: "index"}%>
            <% end %>
        <% end %>
    </div>
<% if @user.followed_users.any?%>
    <h1>Followed Users</h1>
    <% @user.followed_users.each do |u| %>
        <div>
            <%= link_to "@#{u.username}", user_path(u) %>
        </div>
    <% end %>
<% end %>