<div class="container flex justify-center p-6 g-3">
  <fieldset class="fieldset grid gap-1 bg-gray-700 border-base-300 rounded-xl w-md p-6">
    <legend class="fieldset-legend">Log in</legend>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field p-3">
          <%= f.label :email, class:"label"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
        </div>

        <div class="field p-3">
          <%= f.label :password, class:"label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field ">
            <%= f.check_box :remember_me, class:"checkbox" %>
            <%= f.label :remember_me, class:"label" %>
          </div>
        <% end %>

        <div class="actions py-2">
          <%= f.submit "Log in", class:"btn btn-md btn-success" %>
        </div>
      <% end %>
      <div class="container grid gap-2">
        <%= render "devise/shared/links" %>
      </div>
  </fieldset>
</div>
