<div class="flex justify-center items-center p-6 w-screen min-h-full bg-gradient-to-br from-gray-800 to-gray-900">
  <fieldset class="bg-gray-900 border border-base-300 rounded-2xl shadow-xl p-8 max-w-3xl w-full text-gray-100 transition duration-300 hover:shadow-2xl">
    <legend class="text-3xl font-bold text-primary mb-6 text-center drop-shadow">Log in</legend>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "label text-sm font-semibold text-gray-300" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "input input-bordered w-full bg-gray-900 text-white placeholder-gray-500" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "label text-sm font-semibold text-gray-300" %>
        <%= f.password_field :password, autocomplete: "current-password",
            class: "input input-bordered w-full bg-gray-900 text-white placeholder-gray-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-6 flex items-center gap-2">
          <%= f.check_box :remember_me, class: "checkbox checkbox-sm checkbox-primary" %>
          <%= f.label :remember_me, class: "text-sm text-gray-300" %>
        </div>
      <% end %>

      <div class="flex justify-center mb-4">
        <%= f.submit "Log in",
            class: "bg-gradient-to-r from-teal-400
         via-teal-500 to-teal-600 text-white font-semibold px-4 py-2 rounded-full 
         shadow-md hover:scale-105 hover:shadow-lg transition duration-300 ease-in-out hover:bg-gradient-to-br" %>
      </div>
    <% end %>

    <div class="mt-6 text-center text-sm text-gray-400">
      <%= render "devise/shared/links" %>
    </div>
  </fieldset>
</div>
