
<p>Context: <%= context%></p>
<%= form_with model: post, data: { turbo_frame: dom_id(post) } do |f| %>
      <%= hidden_field_tag :context, @context %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <% if context == "post" %>
        <%= f.submit%>
        <%= link_to "Cancel", post_path(post)%>
    <% else%>
        <%= f.submit%>
        <%= link_to "Cancel", users_path%>
    <% end %>
<% end %>

