
<p>Context: <%= context %></p>
<%= form_with model: post, data: { turbo_frame: dom_id(post) }, multipart: true do |f| %>
      <%= hidden_field_tag :context, @context %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= label_tag :body, "Text Content" %>
        <%= text_area_tag :body %>
    </div>
    <div>
        <%= label_tag :images, "Upload Image(s)" %>
        <%= file_field_tag :images, multiple: true, accept: "image/*", name: "images[]" %>
    </div>
    <div>
        <%= label_tag :video, "Upload Video"%>
        <%= file_field_tag :video, accept: "video/*" %>
    </div>
    <% if context == "post" %>
        <%= f.submit%>
        <%= link_to "Cancel", post_path(post)%>
    <% elsif context == "useer"%>
        <%= f.submit%>
        <%= link_to "Cancel", user_path(user)%>
    <% else %>
        <%= f.submit%>
        <%= link_to "Cancel", users_path%>
    <% end %>
<% end %>

