<fieldset class=" bg-gray-800 text-white rounded-xl shadow-lg p-6 w-full max-w-3xl mx-auto space-y-4 transition-all duration-300">
  <%= form_with model: post, data: { turbo_frame: dom_id(post) }, multipart: true do |f| %>
    <%= hidden_field_tag :context, @context %>

    <% if post.errors.any? %>
      <div class="bg-red-500/10 border border-red-500 text-red-300 p-4 rounded-lg shadow mb-4">
        <strong class="block mb-2">
          <%= pluralize(post.errors.count, "error") %> prevented this post from being saved:
        </strong>
        <ul class="list-disc list-inside text-sm space-y-1">
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="space-y-1">
      <%= f.label :title, class: "text-sm font-semibold text-indigo-300" %>
      <%= f.text_field :title, class: "input input-bordered w-full bg-gray-900 text-white placeholder-gray-500" %>
    </div>

    <div class="space-y-1">
      <%= label_tag :body, "Text Content", class: "text-sm font-semibold text-indigo-300" %>
      <%= text_area_tag :body, nil, rows: 5, class: "input input-bordered w-full bg-gray-900 text-white placeholder-gray-500" %>
    </div>

    <div class="space-y-1">
      <%= label_tag :images, "Upload Image(s)", class: "text-sm font-semibold text-indigo-300" %>
      <%= file_field_tag :images, multiple: true, accept: "image/*", name: "images[]", class: "file-input file-input-bordered w-full mt-1" %>
    </div>

    <div class="space-y-1">
      <%= label_tag :video, "Upload Video", class: "text-sm font-semibold text-indigo-300" %>
      <%= file_field_tag :video, accept: "video/*", class: "file-input file-input-bordered w-full mt-1" %>
    </div>

    <div class="pt-4 flex justify-center gap-4">
      <%= f.submit "Submit", class: "bg-gradient-to-r from-green-400 to-green-600 text-white font-medium px-6 py-2 rounded-full transition duration-300 shadow hover:scale-105 hover:cursor-pointer" %>

      <% if context == "post" %>
        <%= link_to "Cancel", post_path(post), class: "bg-gradient-to-r from-red-400 to-red-600 text-white font-medium px-6 py-2 rounded-full transition duration-300 shadow hover:scale-105" %>
      <% elsif context == "user" %>
        <%= link_to "Cancel", user_path(current_user), class: "bg-gradient-to-r from-red-400 to-red-600 text-white font-medium px-6 py-2 rounded-full transition duration-300 shadow hover:scale-105" %>
      <% else %>
        <%= link_to "Cancel", users_path, class: "bg-gradient-to-r from-red-400 to-red-600 text-white font-medium px-6 py-2 rounded-full transition duration-300 shadow hover:scale-105" %>
      <% end %>
    </div>

  <% end %>
</fieldset>
