<%= turbo_frame_tag dom_id(post) do %>
        <% if context == "post" %>
        <div class="container bg-gray-700 p-2 justify-center">
            <div class="container justify-center">
                <h2 class="text-4xl font-bold text-center text-secondary text-shadow break-words"><%= post.title %></h2>
                <div class="flex justify-end">
                    <h2 class="flex text-l text-gray-500 text-end justify-end items-center hover:underline">
                    <%=image_tag post.user.avatar_url_or_default, class: "h-12 w-12 object-cover rounded-full mr-2"%>
                    <%= link_to "@#{post.user.username}", user_path(post.user), data: {turbo: false}%></h2>
                </div>
            </div>
            <div class="divider divider-primary"></div>
            <div class="container text-start grid gap-6">
                <div data-controller="carousel" class="swiper max-w-xl mx-auto 2xl:w-autp">
                    <div class="swiper-wrapper max-w-xl 2xl:w-auto">
                        <% @images.each do |img| %>
                            <div class="swiper-slide w-full max-w-xl overflow-auto 2xl:w-auto items-center">
                            <%= image_tag url_for(img), class: "rounded-lg shadow-lg w-full max-w-xl h-auto 2xl:w-auto object-contain" %>
                            </div>

                        <% end %>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <% post.contents.each do |content| %>
                    <% case content.contentable %>
                    <% when VideoContent %>
                        <div class="flex justify-center my-4">
                        <%= video_tag content.contentable.video, controls: true, class: "rounded shadow" %>
                        </div>
                    <% when TextContent %>
                    <div class="max-w-2xl break-words text-start">
                        <p class="my-4 text-gray-200 break-words text-start" ><%= content.contentable.body %></p>
                    </div>
                    <% end %>
                <% end %>
            </div>
            <% if post.user == current_user %>
            <div class=" flex justify-end gap-2">
                <%= link_to "Edit", edit_post_path(post: post, context: "post"), class: "btn btn-sm btn-primary z-20"%>
                <%= button_to "Delete", post_path(post), method: :delete, class: "btn btn-sm btn-error",
                 data: { turbo_confirm: "Are you sure you want to delete this post?", turbo: false}%>
            </div>
            <% end %>
        </div>
        <% else %>
        <div class="relative"> 
            <div class="card bg-base-100 card-border border-gray-700 shadow-lg z-10 relative">
                <div class="card-body max-w-xl">
                <%= link_to post.title, post_path(post), data: { turbo: false }, class: "text-primary no-underline hover:cursor-pointer hover:underline" %>
                <% preview = post_preview_image(post) %>
                <% if preview.present? %>
                    <div class="w-full max-w-xl mx-auto mb-3">
                        <%= image_tag url_for(preview), class: "rounded shadow w-full object-cover h-40" %>
                    </div>
                <% end %>
                <% post.contents.each do |content| %>
                    <% if content.contentable.is_a?(TextContent)%>
                        <p class="text-start line-clamp-3 break-words"><%= content.contentable.body %></p>
                    <% end %>
                <% end %>
                <% if post.user == current_user %>
                    <div class=" card-actions flex gap-2 mt-4">
                    <%= link_to "Edit", edit_post_path(post, context: "index"), class: "btn btn-sm btn-primary z-20" %>
                    <%= button_to "Delete", post_path(post),
                            method: :delete,
                            form: { data: { turbo_confirm: "Are you sure?" }, class: "z-20" },
                            class: "btn btn-sm btn-error" %>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
        <% end %>
<% end %>
