<%= turbo_frame_tag dom_id(post) do %>
    <div>
        <% if context == "post" %>
            <%= post.title %>
            <%= post.body %>
            <% if post.user == current_user %>
                <%= link_to "Edit", edit_post_path(post: post, context: "post")%>
                <%= button_to "Delete", post_path(post), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?", turbo: false }%>
            <% end %>
        <% else %>
            <%= link_to post.title, post_path(post), data: {turbo: false}%>
            <% if post.user == current_user %>
                <%= link_to "Edit", edit_post_path(post, context: "index")%>
                <%= button_to "Delete", post_path(post), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
            <% end %>
        <% end %>
</div>
<% end %>
