<%= turbo_frame_tag @post do %>
    <%= render partial: "posts/post", locals: { post: @post, context: ""}%>
<% end %>


<%= button_to "Like", post_react_path(@post, reaction: "like")%>
<%= @post.likes%>
<%= button_to "Dislike", post_react_path(@post, reaction: "dislike")%>
<%= @post.dislikes%>

<h1>User</h1>
<%= link_to "@#{@post.user.username}", user_path(@post.user)%>

<h1>Comments</h1>
<%= turbo_frame_tag "post_comment" do%>
    <p>Post class: <%= @post.class %></p>

    <%= link_to "Comment", new_post_comment_path(@post) %>
<% end %>

<%= turbo_frame_tag "post_comments" do %>
    <% if @comments.present? %>
        <%= render partial: "comments/comment", collection: @post.comments.where(parent_id: nil), as: :comment%>
    <% else %>
    <p>No comment yet, be the first!</p>
    <% end %>
<% end %>