<%= @post.title %>
<%= @post.body %>

<%= button_to "Like", post_react_path(@post, reaction: "like")%>
<%= @post.likes%>
<%= button_to "Dislike", post_react_path(@post, reaction: "dislike")%>
<%= @post.dislikes%>

<h1>User</h1>
<%= link_to "@#{@post.user.username}", user_path(@post.user)%>

<h1>Comments</h1>
<%= render partial: "comments/new", locals: {post: @post}%>

<% if @comments.present? %>
    <%= render partial: "comments/comment", collection: @post.comments.where(parent_id: nil), as: :comment%>
<% end %>