<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ReadView" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/swiper@10/swiper-bundle.min.css" />
  </head>

  <body class="bg-black text-base-content flex flex-col min-h-screen
  transition-colors duration-500 ease-in-out">

    <header class="sticky top-0 bg-gray-900 z-50 p-2">
      <div class="container mx-auto flex items-center justify-between">
        <h1 class="text-xl font-bold italic text-white">
          <%= link_to "ReadView", authenticated_root_path %>
        </h1>

        <div class="flex items-center gap-4">
          <% if user_signed_in? %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false },
             class: "text-white bg-gradient-to-r from-red-500 via-red-500 to-red-600 hover:bg-gradient-to-br 
             focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg 
             text-sm px-5 py-2 text-center hover:cursor-pointer" %>

            <%= link_to "Edit User", edit_user_registration_path, class: "text-white bg-gradient-to-r 
            from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none 
            focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2 text-center" %>

            <%= link_to user_path(current_user), class: "avatar rounded-full transition duration-300 
            hover:scale-110 hover:ring-primary hover:cursor-pointer" do %>
              <div class="w-10 h-10 rounded-full overflow-hidden">
                <img src="<%= current_user.avatar_url %>" alt="avatar" class="object-cover w-full h-full" />
              </div>
            <% end %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "text-white bg-gradient-to-r from-green-400 via-green-500
             to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 
             dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2 text-center hover:cursor-pointer" %>

            <%= link_to "Log In", new_user_session_path, class: "text-white bg-gradient-to-r from-teal-400
             via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none hover:cursor-pointer
              focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2 text-center" %>
          <% end %>
        </div>
      </div>
    </header>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'error' %> transition-opacity duration-500">
        <span><%= message %></span>
      </div>
    <% end %>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
    <%= javascript_importmap_tags %>
    <%= yield %>
    
      <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script>
  </body>
</html>
