<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/swiper@10/swiper-bundle.min.css" />
  </head>

  <body class="p-0">
    <header class="sticky top-0 gap-6 justify-end mb-8 z-50 b-0 ">
      <div class="navbar sticky top-0 flex items-center justify-end gap-6 bg-primary mr-6">
        <div class="flex items-center gap-4">
        <% unless user_signed_in? %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sm btn-success" %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-sm btn-secondary" %>
        <% else %>
          
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "btn btn-error btn-sm" %>
            <%= link_to "Edit User", edit_user_registration_path, class: "btn btn-warning btn-sm" %>
            <%= link_to user_path(current_user), class: "avatar" do %>
              <div class="w-10 rounded-full overflow-hidden">
                <img src="<%= current_user.avatar_url %>" alt="avatar" class="w-full h-full object-cover" />
              </div>
            <% end %>
          
        <% end %>
        </div>
      </div>
    </header>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'error' %>">
        <span><%= message %></span>
      </div>
    <% end %>
    <%= yield %>
      <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script>
  </body>
</html>
